<div class="jumbotron text-center">
  <h1>CreaTIC Academy</h1>
  <p>Inicio de sesión</p>
</div>

<div class="container">
  <div class="row justify-content-center h-100">
  <div class="col-sm-8 align-self-center">
    <form>
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" #email placeholder="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Contraseña:</label>
        <input type="password" #password placeholder="password" class="form-control" id="pwd">
      </div>
      <!--
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"> Remember me
        </label>
      </div>
      -->
      <button routerLink="/dashboard" (click)="login(email.value, password.value)" class="btn boton">Iniciar sesión</button>
      <!--
      <button routerLink="/signup" type="submit" class="btn btn-primary">Sign up</button>
      -->
    </form>

  </div>
</div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h4>¡Recomendaciones basadas en ti!</h4>
    </div>
  </div>

</div>
