.jumbotron{
    background-image: url(https://images.pexels.com/photos/1038929/pexels-photo-1038929.jpeg?cs=srgb&dl=background-blue-gradient-hd-wallpaper-1038929.jpg&fm=jpg);
    background-size: 100%;
    border-radius: 0px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.row {
    margin-bottom: 50px;
}

.boton{
    background-image: url(https://images.pexels.com/photos/1038929/pexels-photo-1038929.jpeg?cs=srgb&dl=background-blue-gradient-hd-wallpaper-1038929.jpg&fm=jpg);
    color: white;
}