.jumbotron{
  background-image: url(https://www.publicdomainpictures.net/pictures/190000/velka/degrade-de-couleur-15.jpg);
  background-size: 100%;
  border-radius: 0px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.boton{
  background-image: url(https://images.pexels.com/photos/1038929/pexels-photo-1038929.jpeg?cs=srgb&dl=background-blue-gradient-hd-wallpaper-1038929.jpg&fm=jpg);
  color: white;
}
.card {margin-bottom: 20px;}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*
 * Selectable CSS3 Rating Stars by Martin Ivanov (@wemakesitesnet)
 * @version 1.0
 * @author Martin Ivanov
 * @url portfolio http://wemakesites.net/
 * @url twitter https://twitter.com/wemakesitesnet
 * @url blog http://acidmartin.wordpress.com/
 **/

/*
 * Do you like this solution? Please, donate:
 * https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QFUHPWJB2JDBS
 *
 * If you are looking for a feature-complete rating system http://acidjs.wemakesites.net/rating.html
 *
 **/

.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
  display: inline-block;
}

.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
  color: #189800;
}

.acidjs-rating-stars *
{
  margin: 0;
  padding: 0;
}

.acidjs-rating-stars input
{
  display: none;
}

.acidjs-rating-stars
{
  unicode-bidi: bidi-override;
  direction: rtl;
}

.acidjs-rating-stars label
{
  color: #ccc;
}

.acidjs-rating-stars label::before
{
  content: "\2605";
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
}

.acidjs-rating-stars input:checked ~ label
{
  color: #f5b301;
}

.acidjs-rating-disabled
{
  opacity: .50;

  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}
