<nav class="navbar navbar-expand-sm navbar-dark" style="background-image: url(https://images.pexels.com/photos/1038929/pexels-photo-1038929.jpeg?cs=srgb&dl=background-blue-gradient-hd-wallpaper-1038929.jpg&fm=jpg);">
  <a class="navbar-brand" href="/">
   <img src="https://clustercreatic.com/static/img/logos/logo-white.png" alt="Logo" style="width:100px;">
 </a>
 <a routerLink="/" class="nav-link" href="#">Inicio</a>
</nav>
